*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
/projectFilesBackup/.idea/workspace.xml
/Move_codebase_to_Kotlin.patch
/gradle/wrapper/gradle-wrapper.jar
